DEEPSEEK_API_KEY=       #YOUR_API_KEY
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat
AGENT_WORKSPACE=.
RAG_PERSIST_DIR=data
LOCAL_DB_PATH=data/agent.sqlite3
CSV_DB_PATH=data/csv.sqlite3
PYTHON_SANDBOX_TIMEOUT=30
EMBEDDING_DEVICE=cpu
EMBEDDING_MODEL=        #If you have local model directory, write it
LIBREOFFICE_PATH=       #If you have local libreoffice directory, write it