DEEPSEEK_API_KEY=YOUR_DEEPSEEK_API_KEY          #Modify it into your api key
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat
AGENT_WORKSPACE=.
RAG_PERSIST_DIR=data
LOCAL_DB_PATH=data/agent.sqlite3
CSV_DB_PATH=data/csv.sqlite3
PYTHON_SANDBOX_TIMEOUT=30
EMBEDDING_DEVICE=cuda
#EMBEDDING_MODEL=YOUR_LOCAL_MODEL_DIR           #Write it if you have local model for rag_tools